.img {
    width: 300px;
    margin: auto;
    margin-top: 100px;

}
.text{
    margin-top: var(--spacing-large);
    font-size: 18px;
    color: var(--color-white);
    text-align: center;
    text-shadow: var(--text-shadow-blue);
}